*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.5rem;
}

header, main, footer{
    max-width: 60rem;
    margin: auto;
}

textarea{
    width: 100%;
    min-height: 20rem;
}

header{
    color: pink;
    background: black;
    padding: 2rem;
    max-height: 7rem;
    margin-bottom: 4rem;
    overflow: auto;
}