/*
Style Reset
*/

    *{
        padding:0; 
        margin:0;
    }

    html{
        font-size: 62.5%;
    }

    body{
        font-size: 1.5rem;
        background: black;
        color: snow;
    }

    section{
        border:0.1rem solid red;
        height: 15rem; /* Eviter d'utiliser la propriété heigth */
        margin: 4rem;
        padding: 2rem;

        /* Créer un bord arrondi de 10px */
        border-radius: 1rem;
    }
    
    article{
        width: 5rem;
        height: 5rem;
        background: pink; 
    }



/************************************/

/*
CSS3 translate()
*/

    section:first-child article{
        -ms-transform: translate(2rem,2rem);
        -webkit-transform: translate(2rem,2rem);
        /* La propriété transform en dernier */
        transform: translate(2rem,2rem);
    }

/************************************/

/*
CSS3 rotate()
*/

    section:nth-child(2) article{
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        /* La propriété transform en dernier */
        transform: rotate(45deg);
    }

/***************************************/

/*
CSS3 skewX()
*/
    section:nth-child(3) article{
        -ms-transform: skewX(45deg);
        -webkit-transform: skewX(45deg);
        /* La propriété transform en dernier */
        transform: skewX(45deg);
    }

/***************************************/

/*
CSS3 skewY()
*/
    section:nth-child(4) article{
        -ms-transform: skewY(45deg);
        -webkit-transform: skewY(45deg);
        /* La propriété transform en dernier */
        transform: skewY(45deg);
    }

/***************************************/

/*
CSS3 scale()
*/
    section:nth-child(5) article{
        -ms-transform: scale(3, 5);
        -webkit-transform: scale(3, 5);
        /* La propriété transform en dernier */
        transform: scale(3, 5);
    }

/***************************************/

/*
Transofrmation 3D
*/

/*
CSS3 rotateX()
*/
    section:nth-child(6) article{
        -webkit-transform: rotateX(45deg);
        /* La propriété transform en dernier */
        transform: rotateX(45deg);
    }

/***************************************/

/*
CSS3 rotateY()
*/
    section:nth-child(7) article{
        -webkit-transform: rotateY(45deg);
        /* La propriété transform en dernier */
        transform: rotateY(45deg);
    }

/***************************************/

/*
CSS3 rotateZ()
*/
    section:nth-child(8) article{
        -webkit-transform: rotateZ(45deg);
        /* La propriété transform en dernier */
        transform: rotateZ(45deg);
    }

/****************************************/

/*
Créer un rond avec un carré
*/

    Section:nth-child(9) article{

        border-radius: 50%;
    }

/******************************************/


/*
Utilisation de translate() pour caler des balises
*/

    section:nth-child(10) article{
        /*font-size: 1rem;*/
        border: .1rem solid red;
        display: inline-block;
        vertical-align: top;
        margin: 2rem;
        text-align: center;

        /* bloquer les enfant dans le parent */
        position: relative;
    }

    section:nth-child(10) article p{
        font-size: 1rem;
        border: .1rem solid black;
        width: 90%;
        
        position: absolute;
        top: 50%;
        left: 50%;

        -ms-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);        
        transform: translate(-50%, -50%);
    }