# activation de la réécriture d'URL
RewriteEngine on

#Si on appelle un fichier qui n'existe pas
RewriteCond %{REQUEST_FILENAME} !-f

#...alors on redirige vers index.php
RewriteRule ^ index.php [QSA,L]