<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Contenu de la page</title>
    </head>

    <body>
        <article id="portfolio">
            <h2>Mon portfolio</h2>
            <p>Découvrez mes travaux</p>
            <img src="http://lorempixel.com/400/400/" alt="Mon projet">
        </article>

        <article id="contacts">
            <h2>Contactez moi</h2>
            <form action="#">
                <input type="email" placeholder="Votre adresse mail">
                <textarea placeholder="Votre message"></textarea>
                <input type="submit" value="Envoyer">
            </form>
            
            <aside></aside>
            <p>Adresse : 7 rue des orteaux 75020 Paris</p>
        </article>  
    </body>
</html>