    <section>
        <h2>A propos</h2>
        <img src="img/profil.jpg" alt="Photo de profil">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat ad voluptates dignissimos delectus magni maiores molestias, assumenda. Numquam neque beatae quod eaque iusto cum, quam praesentium recusandae impedit aliquam repellendus!</p>

        <h3>Mes compétences</h3>

        <ul>
            <li>
                <p><span>HTML: 80%</span></p>
            </li>

            <li>
                <p><span>CSS: 70%</span></p>
            </li>

            <li>
                <p><span>JavaScript: 70%</span></p>
            </li>

            <li>
                <p><span>jQuery: 70%</span></p>
            </li>

            <li>
                <p><span>Node.js: 30%</span></p>
            </li>

            <li>
                <p><span>Mongodb: 30%</span></p>
            </li>

            <li>
                <p><span>PHP: 50%</span></p>
            </li>

            <li>
                <p><span>Symfony: 30%</span></p>
            </li>

            <li>
                <p><span>Ruby: 30%</span></p>
            </li>

            <li>
                <p><span>Python: 30%</span></p>
            </li>
        </ul>

        <p>N'hésitez pas à me contacter en cliquant <a href="#">Sur ce lien</a>.</p>
    </section>