    <section>
        <h2>Découvrez mon code</h2>
        <p>Vous pouvez voir ma façon de codé et mon organisation dans le code par zone d'application des traitement</p>

        <figure>
            <img src="img/CodeHTML.png" alt="CodeHTML">
            <figcaption><span>Code HTML</span>  <button>Afficher les détails</button></figcaption>
        </figure>

        <figure>
            <img src="img/CodeCss.png" alt="CodeCss">
            <figcaption> <span>Code CSS</span> <button>Afficher les détails</button></figcaption>
        </figure>

        <figure>
            <img src="img/CodeCss1.png" alt="CodeCss1">
            <figcaption> <span>Code CSS</span> <button>Afficher les détails</button></figcaption>
        </figure>

        <figure>
            <img src="img/CodeJS.png" alt="CodeJS">
            <figcaption> <span>Code JS</span> <button>Afficher les détails</button></figcaption>
        </figure>
    </section>

    <!-- Modal -->
    <section id="modal2">

        <article>
            <h2> <span>Projet</span>  <i class="fa fa-times"></i></h2>
            <img src="img/CodeHTML.png" alt="CodeHTML">
            <span></span>
        </article>        
    </section>
