<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Page Portfolio</title>
    </head>

    <body>
        <h2>Découvrez mes travaux</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores sunt illo magni distinctio.</p>

        <figure>
            <img src="img/1.jpg" alt="Projet 1">
            <figcaption> <span>Mon Site</span> <button>Afficher les détails</button></figcaption>
        </figure>

        <figure>
            <img src="img/2.jpg" alt="Projet 2">
            <figcaption> <span>Projet Ecommerce</span> <button>Afficher les détails</button></figcaption>
        </figure>

        <!--<figure>
            <img src="img/3.jpg" alt="Projet 3">
            <figcaption> <span>Projet 3</span> <button>Afficher les détails</button></figcaption>
        </figure>

        <figure>
            <img src="img/4.jpg" alt="Projet 4">
            <figcaption> <span>Projet 4</span> <button>Afficher les détails</button></figcaption>
        </figure>-->

        <!-- Modal -->
        <section id="modal">

            <article>
                <h2> <span>Projet</span> <i class="fa fa-times"></i></h2>
                <img src="img/1.jpg" alt="Projet 1">
            </article>
        
        </section>

    </body>
</html>