/* Importer un fichier CSS */

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

/* Importer une police de caractere*/
@import url('https://fonts.googleapis.com/css?family=Lobster|Playfair+Display:400,700,900');

/* 
Style Reset 
*/

    /* Sélectionner TOUTES les balises du DOM */

    /* Supprimer toutes les marges */
    *{
        padding: 0;
        margin: 0;
    }

    /* Faire en sorte que la valeur de 1rem soit égal à 10px */
    html{
        font-size: 62.5%;
        background-color: black;
      
    }

    body{
        font-size: 1.5rem; /* 1.5 rem = 15 px */
        /* Changer la famille de caracteres */
        font-family: 'Playfair Display', serif;
    }

    /* Supprimer la décoration d balises A */
    a{

        text-decoration: none;

    }

    /* faire en sorte que les image ne dépassent pas leurs parents */
    img{

        max-width: 100%;

    }

    h2{
        /* Aligner le texte au centre */
        text-align: center;
        /* modifer la casse */
        text-transform: uppercase;
        /* Ajouter une marge extérieur en bas de 30px */
        margin-bottom: 3rem;

    }


/*
Style largeur maximum
*/

    nav ul, main section:first-child, main section:nth-child(2) p, main section:last-child, footer section{

        /* Définir une largeur maxmum */
        max-width:95rem;

        /* Centrer une balise de type block dans son parent */
        margin: auto;

    }



/*
Style header
*/

    header{
        text-align: center;
        color: snow;
        background-color: gray;

        /* Ajout d'un marge vers le bas de 50px */
        margin-bottom: 5rem;

    }
    nav{

        /* Mettre le texte en majuscule */
        text-transform: uppercase;
        background: darkgray;
        /* Aligner le texte a droite */
        text-align: right;
        /* Ajoute une marge intérieur de 10px */
        padding: 1rem;
        /* Ajout d'un marge vers le bas de 30px */
        margin-bottom: 3rem;
        
    }

    nav a{

        color: black;
        /* Passer le texte en gras */
        font-weight: bold;

    }

    li{
    
        display: inline-block;

        /* Ajouter une marge extérieur à droite */
        margin-right: 5rem;
        
    }

    nav ul{
        
        /* Bloquer les enfants dans leur parent */
        position: relative;

    }

    }

    h1, h2, h3{

        font-family: 'Lobster', cursive;
        font-weight: 400;
    }


    h1{

        /* Mettre le texte en majuscule */
        text-transform: uppercase;
        /* Augmenter la taille de la font 40px */
        font-size: 4rem;
        color: snow;
        padding-top: 1rem;

    }


    nav li:first-child{

        position: absolute;
        left: 0;
        font-size: 1.5em;
    }

    header p{

        /* Augmenter la taille de la font 20px */
        font-size: 2rem

    }

    section{

        padding: 2rem 0;
    }

/*
Style portfolio
*/
    main section:first-child{

        text-align: center;
    }

    main section:first-child article{

        /* Créer 3 colonnes */
        display: inline-block;
        width: 30%;
        /* Ajouter une marge extérieur de 20px */
        margin:2rem;

        /* Bloquer les enfant dans leur parent */
        position: relative;

    }

    main section:first-child a{

        font-size: 4rem;
        background: rgba(169, 169, 169, 0.7);
        color: black;

        /* Sortir la balise du flux pour la positionner précisément */
        position: absolute;

        /* Placer la balise en haut à gauche */
        top: 0;
        left: 0;

        /* Faire en sorte que la balise soit a 100% de la taille de son parent */
        width: 100%;
        height: 100%;
        
        /* Réduire l'opacité de la balise */
        opacity: 0;

        /* gérer une transition entre les états de la balise */
        -webkit-transition: all .5s;
        transition: all .5s;

    }

    /* Modifier l'opacité de la balisse en hover */
    main section:first-child a:hover{

        opacity: 1;

    }

/*
Style A propos
*/

    /* Sélectionner le N-ème(nth)enfant */
    main section:nth-child(2){
        color:snow;
        /* Modifier la couleur de fond */
        background-color:gray;

        /* Centrer le texte */
        text-align: center;

    }
    main section:nth-child(2) p{ 
        
        /* Afficher le texte sur 2 colones */
        -webkit-column-count: 2; /* Chrome, Safari, Opera */
        -moz-column-count: 2; /* Firefox */
        column-count: 2;

        /* Justifier le texte */
        text-align: justify;
        margin-bottom: 3rem;
    
    }
    main section:nth-child(2) a{
        
        color:snow;
        border: 0.3rem solid snow;
        padding: 1rem 1.5rem;
        font-weight: bold;

        /* Créer un bord arrondi */
        -webkit-column-radius: 1rem; /* Chrome, Safari, Opera */
        -moz-column-radius: 1rem; /* Firefox */
        border-radius: 1rem;
        
    }
    

/*
Style Contacts
*/

        h2{
            color: snow; 
        }
        input, textarea{

            display: block;
            width: 90%;
            margin: 0.5rem auto;
            padding: 1rem;
            font-size: 1rem;

            /* Annuler le style du navigateur */
            border: none;
            /* redéfinir la bordure */
            border-bottom: 0.2rem solid gray;

        }

        textarea{

            /* Définir une hauteur minimum */
            min-height: 10rem;

        }

        /* Sélectionner une balise grace a son attribut et sa valeur */
        [type="submit"]{

            width: 10rem;
            display: inline-block;
            font-weight: bold;
            -webkit-column-radius: 1rem; /* Chrome, Safari, Opera */
            -moz-column-radius: 1rem; /* Firefox */
            border-radius: 1rem;
            margin-left: 8rem;
        
        }

/*
Style Footer
*/

    footer{

        color:snow;
        text-align: center;
        background:gray;
    }

    footer article{

        display: inline-block;
        width:30%;

        /* Gérer l'laignement vertical */
        vertical-align: top;

    }

        /* Sélectionner une balise grace a son attribut et sa valeur */
        [href="http://google.com"]{

            color: snow;

        }

        aside{

            padding: 1.5rem;
            background: darkgrey;

        }