html{
    font-size: 62.5%;
}

body{
    font-size:1.5rem;
}

header, main, footer{
    max-width: 80rem;
    margin: auto;
}

input, textarea, label{
    display: block;
    width: 100%;
    margin-bottom: 1rem;
}
img{
    max-width: 100%;
}