article{
    color: purple;
    width: 10rem;
    height: 10rem;
    background: pink;
    position: relative;
    margin-bottom: 1rem;
}

section:nth-child(2) article, section:nth-child(5) article{
    display: none;
}

