/* Import FontAwesome */
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

    /* Icones FontAwesome */
    .fa{
        color: rgba(255, 192, 203, 0.7);
        font-size: 6rem;
    }


/* Import caracteres font */
@import url('https://fonts.googleapis.com/css?family=Merriweather|Open+Sans:400,700');

/*********************************************/

/*
Style Reset
*/
    *{
        padding:0; 
        margin:0;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    
    html{
        font-size: 62.5%
    }

    img{
        max-width: 100%;
    }

    body{
        font-size: 1.5rem;
        text-align: center;
        font-family: 'Merriweather', serif;
    }

    a{
        text-decoration: none;
        font-size: 1.5rem;
        color:rgb(113, 113, 113);
    }

    /*article{
        display: inline-block;
    }*/

    li{
        padding-left: 2rem;

    }
    p{
        font-size: 2rem;
    }

    h2{
        font-size: 3rem;
    }

    h3{
        font-size:2.2rem;
     }
     h1, h2, h3, p{
        padding: 1rem;
     }
     h1, h2, h3{
         font-family: 'Open Sans', sans-serif;
         font-weight: 400;
     }

     h1::before, h2::before{
        content: "";
        display: block;
        height: 4rem;
        margin: auto;
        position: absolute;
        -webkit-transform: translate(-50%, -65%);
        transform: translate(-50%, -65%);
     }

     h1::after, h2::after{
        content: "";
        display: block;
        height: .3rem;
        width: 5rem;
        margin: 1rem auto;
        background: black;
     }

     aside h2::after{
         display: none;
     }
    
/*********************************************/

/*
Style button
*/
.button{
    border: pink solid;
    border-radius: 30rem;
    font-weight: 700;
    text-transform: uppercase;
    background: pink;

}
.second{
    border:snow solid;
    background: snow;
}


/*********************************************/

/*
Style header
*/
    header{
        /* Configurer l'image de fond en parallaxe */
        background-image: url(../img/header.jpg);
        /* Positionner l'image de fond */
        background-position: center;
        /* Modifier la taille de l'image de fond */
        background-size: cover;
        padding: 15rem 2rem 10rem 2rem;
        }

    nav{
        position: fixed;
        background: pink;
        top:0;
        left:0;
        width: 100%;
        padding: 2rem;
        text-align: right;
        z-index: 1;
    }
    nav > a{
        position: absolute;
        left: 2rem;
        
    }

    nav ul{
        /*display: none;*/
    }

    nav li{
        display: inline-block;
    }

    h1{
        color: snow;
        text-transform: uppercase;
        font-size: 3.3rem;
        display: inline-block;
        font-weight: 700;
        
    }

    header p{
        color:rgba(255,255,255,.7);
    }

    

/*********************************************/

/*
Style main
*/
 section:first-child{
     background: pink;
     padding: 2rem;

 }

/*
Style Portfolio
*/

    section figure{

        float: left;
        position: relative;
        width: 50%;
        line-height: 0;

    }
    section figcaption{
        background: rgba(255, 192, 203, 0.7);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
    }
     section figcaption:hover{

        opacity: 1;
    }

    section figcaption a{
        color: black;
        text-transform: uppercase;
        line-height: 1;
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
    }

    section b {
        display: block;
        text-transform: uppercase;
    }


/*********************************************/

/*
Style footer
*/

footer {
    clear: both;
}

aside{
    color:snow;
    background:rgba(34,34,34,1);
    padding: 5rem 2rem 5rem 2rem;
    
}

footer article a{

    display: block;
    padding-left: 2rem;
    padding-right: 2rem;
}

/********************************************/

/*
Requêtes média
*/
    /* Ecran d'une taille minimale de 550px */
    @media screen and (min-width:550px) {
        
        /* Style Reset */

            h1{
                font-size: 4rem;
                padding: 0 2rem;
            }
            h2, h3{
                font-size: 2.7rem;
            }
         
        /* Style Header */
            header{
                padding-bottom: 13rem;
                background-image: url(../img/header.jpg);
            }
            a{
                display: inline-block;
            }

        /*Style button*/
            .button{
                margin-top: 2rem;

            }
    }

    /* Ecran d'une taille minimale de 750px */
    @media screen and (min-width:750px) {
        article {
            display: block;
        }
        a{
            font-size: 2rem;
        }
    }
      
    /* Ecran d'une taille minimale de 950px */
    @media screen and (min-width:950px) {
        
        /*Style reset*/
        p{
            max-width: 95rem;
            margin: auto;
        }
        header{
            /* Configurer l'image de fond en parallaxe */
            background-image: url(../img/header.jpg);
            /* Positionner l'image de fond */
            background-position: center;
            /* Modifier la taille de l'image de fond */
            background-size: cover;
            padding: 30rem 5rem 20rem 5rem;
        }
        section:first-child {
            background: pink;
            padding: 8rem;
        }
        h1{
            font-size: 4rem;
        }
        article{
            display: inline-block;
            width: 49%;
        }
        
    /*Style Portfolio*/

        section figure{
            float: left;
            position: relative;
            width: 33.333%;
            line-height: 0;
        }
    }