<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Page d'accueil</title>
    </head>
    <body>
        

        <h2>Bienvenue sur mon site</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad mollitia velit officiis obcaecati neque quisquam, eos sint, magnam veniam nam cupiditate doloribus laudantium eaque eius iusto itaque eligendi et omnis.</p>
    </body>
</html>