 <h2>Découvrez mes travaux</h2>
 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores sunt illo magni distinctio.</p>

        <figure>
            <img src="src/app/img/1.jpg" alt="Projet 1">
            <figcaption> <span>Projet 1</span> <button>Afficher les détails</button></figcaption>
        </figure>

        <figure>
            <img src="src/app/img/2.jpg" alt="Projet 2">
            <figcaption> <span>Projet 2</span> <button>Afficher les détails</button></figcaption>
        </figure>

        <figure>
            <img src="src/app/img/3.jpg" alt="Projet 3">
            <figcaption> <span>Projet 3</span> <button>Afficher les détails</button></figcaption>
        </figure>

        <figure>
            <img src="src/app/img/4.jpg" alt="Projet 4">
            <figcaption> <span>Projet 4</span> <button>Afficher les détails</button></figcaption>
        </figure>

        <!-- Modal -->
        <section id="modal">

            <article>
                <h2> <span>Projet</span> <i class="fa fa-times"></i></h2>
                <img src="src/app/img/1.jpg" alt="Projet 1">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis harum repellendus atque, expedita modi, provident alias sunt, odit impedit, sint obcaecati hic ratione dignissimos maxime dolor minus accusantium quod ullam!</p>
            </article>
        
        </section>