<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>TP 21 mars Exo 23 - Portfolio</title>
        <link rel="stylesheet" href="css/style.css">
    </head>

    <body class="contactsPage">
        <!-- Contenue principal -->
        <main>
            <h2>Contacts</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et in modi adipisci autem quibusdam nam aut assumenda.</p>

            <form action="contact.php">
                <input type="text" placeholder="Nom Complet">
                <input type="email"placeholder="Email">
                <input type="text"placeholder="Sujet">
                <textarea placeholder="Message"></textarea>
                <!-- Validation du formulaire -->
                <input type="submit" value="Envoyer">
            </form>
        </main>
    </body>
</html>