/*
Import
*/
    @import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
    @import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,700|Lobster');


/*****************************************************/


/*
Style Reset
*/

    *{
        margin: 0;
        padding: 0;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    html{
        font-size: 62.5%;
    }

    body{
        font-family: 'Crimson Text', serif;
        font-weight: 400;
        font-size: 1.5rem;
        text-align: center;
        color: pink;
        background: rebeccapurple;
    }

    h1, h2, h3{
        font-family: 'Lobster', cursive;
        font-weight: 400;
    }


/*****************************************************/
    

/*
Style header
*/

    

    header, footer{
        padding: 2rem;
        margin-bottom: 2rem;
        background:mediumpurple;
        position: relative;
    }

    .fa-bars{
        font-size: 2rem;
        padding-top:.7rem; 
        position: absolute;
        background: purple;
        border: .3rem solid pink;
        width: 4rem;
        height: 4rem;
        left: 50%;
        bottom: 0;
        cursor: pointer;

        -webkit-border-radius:50%; 
        border-radius: 50%;

        -webkit-transform: translate(-50%, 100%);
        transform: translate(-50% , 100%);
    }

    h1 span{
        font-size: .6em;
        display: block;
    }

    .toggleBurger{
        height: 15rem;
    }

    nav a{
        color: pink;
        text-decoration: none;

        -webkit-transition: all .5s;
        transition: all .5s
    }
    nav li{
        background: rgba(255, 50, 200,.4);
        padding: 1rem;
        margin-bottom: .5rem;

        -webkit-transition: all .5s;
        transition: all .5s;
    }

    nav ul{
        height: 0;
        overflow: hidden;

        -webkit-transition: all 1.2s;
        transition: all 1.2s;
    }

    .active{
        background:rgba(128, 0, 128,.4);
    }

    .active a{
        color: pink;
    }



/*****************************************************/
    

/*
Style Main
*/
    h2::after{
        content: '';
        display: block;
        width: 5rem;
        height: .2rem;
        margin: 1rem auto 2rem auto;
        border-bottom:.2rem dotted palevioletred; 
        /*background: palevioletred;*/
    }

    h3{
        margin-bottom: 1rem;
    }

    main, h1, nav{
        max-width: 85rem;
        margin: auto;
        position: relative;
    }

/*****************************************************/
    
/*
Style footer
*/

    footer{
        position: fixed;
        bottom: 0;
        left:0;
        width: 100%;
        margin-bottom:0;
        background: mediumpurple;
    }

/*****************************************************/

/*
Requete Média
*/

    @media screen and (min-width:850px){

        /* Style header */
        header{
            text-align: left;
            
        }

        .fa-bars{
            display: none;
        }

        nav ul{
            height: auto;
            position: absolute;
            right: 0;
            bottom: 0;
        }

        nav li{
            display: inline-block;
        }
        nav li:not(:last-child){
            margin-right: .5rem;
        }

      
    }